<div class="row">
    <ul class="columns large-3">
        {%  for stat in stats %}
            <li>
                <div class="row">
                    <span class="columns large-3">{{ stat.tracker }}:</span>
                    <span class="columns large-9">{{ stat.nb | number_format(0, '.', ' ') }} (maj {{ stat.lastIndexationDate | date("d/m/Y", "Europe/Paris") }})</span>
                </div>
            </li>
        {% endfor %}
        <li>
            <div class="row">
                <span class="columns large-3">Total:</span>
                <span class="columns large-9">{{ nbTotal | number_format(0, '.', ' ') }}</span>
            </div>
        </li>
    </ul>
    <div class="columns large-1 fb-like" data-href="http://www.torrent-hunter.com" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <div class="columns large-7 advertisement">
        <script src="http://www.pubdirecte.com/script/banniere.php?id=103088&ref=69514"></script>
    </div>
</div>
