<div class="row full-width">
    <div class="column large-4">
        <img alt="logo" title="logo" src="{{ asset('bundles/app/image/logo-bw.png') }}"/>
    </div>
    <div class="column large-7">
        <div>
            <form action="{{ path('search') }}" method="GET">
                <div class="row collapse">
                    <div class="small-11 columns">
                        <input type="text" class="search no-clear search-typeahead typeahead" placeholder="Wrong Turn 6, 12 years a slave..." name="query"/>
                    </div>
                    <div class="small-1 columns">
                        <button type="submit" class="button radius postfix"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr/>
