{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %} {{ parent() }} - Top 100{% endblock %}

{% block body %}

    <h1>Top 100</h1>
    {{ macros.torrents_table(torrents) }}

{% endblock %}
