{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %} Torrent à télécharger : films, séries, musiques, applications, ebooks{% endblock %}

{% block head %}
    <meta name="description" content="Trouvez plus facilement vos torrents à télécharger grâce à Torrent-Hunter"/>
{% endblock %}

{% block body %}

    <h1>Top 100</h1>
    {{ macros.torrents_table(torrents) }}

{% endblock %}
