{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %} Torrent à telecharger : films, séries, musiques, applications, ebooks{% endblock %}

{% block head %}
    <meta name="description" content="Trouvez plus facilement vos torrents à télécharger grâce à Torrent-Hunter"/>
{% endblock %}

{% block body %}

    <div class="row full-width">

        <div class="large-3 columns">
            {{ render(controller('WebsiteBundle:Default:leftMenu')) }}
        </div>

        <div class="large-7 columns">
            <h1>Top 100</h1>
            <hr/>
            {{ macros.torrents_table(torrents) }}
        </div>

        <aside class="large-2 columns hide-for-small">
            <a href="http://www.putdrive.com/?cref=torrent-hunter" target="_blank">
                <img title="putdrive banner" alt="putdrive banner" src="{{ asset('bundles/app/image/putdrive-right-torrents-banner.jpg') }}"/>
            </a>
        </aside>

    </div>

{% endblock %}
