<div class="row">
    <div class="columns small-3">
        <div class="stats">{{ nbTotal | number_format(0, '.', ' ') }} torrents</div>
    </div>
    <div class="columns small-1 fb-like" data-href="http://www.torrent-hunter.com" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
    <div class="columns small-7 advertisement">
        <script src="http://www.pubdirecte.com/script/banniere.php?id=103088&ref=69514"></script>
    </div>
</div>
