{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %} Torrent à telecharger : films, séries, musiques, jeux, applications, ebooks{% endblock %}

{% block head %}
    <meta name="description" content="Trouvez plus facilement vos torrents à télécharger grâce à Torrent-Hunter"/>
{% endblock %}

{% block body %}

    <h1>Top 100</h1>
    {{ macros.torrents_table_mobile(torrents) }}

{% endblock %}
