{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block title %} Torrent à télécharger : films, séries, musiques, jeux, applications, ebooks{% endblock %}

{% block body %}

    <h1>Top 100</h1>
    {{ macros.torrents_table_mobile(torrents) }}

{% endblock %}
